# Dictionary

In [1]:
# how to create a dictionary
employee_data = {'empoly1': 
                 {'name' : 'awantika', 'id' : '1234'}
                }
print(employee_data)
print(employee_data['empoly1']['name'])
print(employee_data['empoly1']['id'])

{'empoly1': {'name': 'awantika', 'id': '1234'}}
awantika
1234

In [3]:
# eval --> taking user as a input
data = eval(input('Enter the dic'))
print(data, type(data))

Enter the dic {'empoly1': {'name': 'awantika', 'id': '1234'}}

{'empoly1': {'name': 'awantika', 'id': '1234'}} <class 'dict'>

In [ ]:
#typecasting
dictionary take a seq of inner sequence where inner sequence will have pair of values and out of the pair of value one is key and the other is value.

In [8]:
a = [('emp1','awantika'), ('emp2' ,'ankit') , ('emp3' ,'sulabh')]
dict(a)

{'emp1': 'awantika', 'emp2': 'ankit', 'emp3': 'sulabh'}

In [13]:
# zip function
list1 = ['emp1' , 'emp2' , 'emp3']
list2 = ['awantika', 'sulabh' , 'shaurya']
#syntax --> zip(iterable1, iterable2)
dict(zip(list1,list2))
tuple(zip(list1,list2))
list(zip(list1,list2))

[('emp1', 'awantika'), ('emp2', 'sulabh'), ('emp3', 'shaurya')]

In [15]:
# method on dic
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
1.)get
2.)setdefault
3.)update

In [ ]:
# get method
if the kry is present it returns the value , else default value.

In [18]:
employee_data = {'empoly1': 
                 {'name' : 'awantika', 'id' : '1234'},
                 'empoly2': 
                 {'name' : 'disha', 'id' : '4565'}
                }
employee_data.get('empoly1').get('name')
employee_data.get('empoly3').get('name')

AttributeError: 'NoneType' object has no attribute 'get'

In [24]:
employee_data = {'empoly1': 
                 {'name' : 'awantika', 'id' : '1234'},
                 'empoly2': 
                 {'name' : 'disha', 'id' : '4565'}
                }
print(employee_data.get('empoly3' , 'key is not present'))

key is not present

In [ ]:
# set default --> it insert the key with the value of the default if the key is not present,else return the value of the key.

In [30]:

# when key is present
employee_data = {'empoly1': 
                 {'name' : 'awantika', 'id' : '1234'},
                 'empoly2': 
                 {'name' : 'disha', 'id' : '4565'}
                }
print(employee_data.setdefault('empoly1'))

None

In [31]:
# when key is not present
employee_data = {'empoly1': 
                 {'name' : 'awantika', 'id' : '1234'},
                 'empoly2': 
                 {'name' : 'disha', 'id' : '4565'}
                }
print(employee_data.setdefault('empoly3'))

None

In [32]:
employee_data

{'empoly1': {'name': 'awantika', 'id': '1234'},
 'empoly2': {'name': 'disha', 'id': '4565'},
 'empoly3': None}

In [33]:
employee_data = {'empoly1': 
                 {'name' : 'awantika', 'id' : '1234'},
                 'empoly2': 
                 {'name' : 'disha', 'id' : '4565'}
                }
print(employee_data.setdefault('empoly3', 'new key'))

new key

In [34]:
employee_data

{'empoly1': {'name': 'awantika', 'id': '1234'},
 'empoly2': {'name': 'disha', 'id': '4565'},
 'empoly3': 'new key'}

In [38]:
# update 
employee_data = {'empoly1': 
                 {'name' : 'awantika', 'id' : '1234'},
                 'empoly2': 
                 {'name' : 'disha', 'id' : '4565'}
                }
data = {'empoly3': 
                 {'name' : 'awantika11', 'id' : '1234'},
                 'empoly4': 
                 {'name' : 'disha11', 'id' : '4565'}
                }
(employee_data.update(data))

In [39]:
employee_data

{'empoly1': {'name': 'awantika', 'id': '1234'},
 'empoly2': {'name': 'disha', 'id': '4565'},
 'empoly3': {'name': 'awantika11', 'id': '1234'},
 'empoly4': {'name': 'disha11', 'id': '4565'}}

In [ ]:
# methods to delete item from dictionary
1.)pop
2.)popitem

In [40]:
#it return specify key it will remove the key with the value.
employee_data = {'empoly1': 
                 {'name' : 'awantika', 'id' : '1234'},
                 'empoly2': 
                 {'name' : 'disha', 'id' : '4565'}
                }
employee_data.pop('empoly1')

{'name': 'awantika', 'id': '1234'}

In [41]:
employee_data

{'empoly2': {'name': 'disha', 'id': '4565'}}

In [43]:
#when key is not present, it will give error else if we write anything it will return that value
employee_data = {'empoly1': 
                 {'name' : 'awantika', 'id' : '1234'},
                 'empoly2': 
                 {'name' : 'disha', 'id' : '4565'}
                }
employee_data.pop('empoly3' ,'nothing to give')

'nothing to give'

In [45]:
# pop item
#it removes the last key
# syntax --> remove value will be a tuple(key,value)
employee_data = {'empoly1': 
                 {'name' : 'awantika', 'id' : '1234'},
                 'empoly2': 
                 {'name' : 'disha', 'id' : '4565'}
                }
employee_data.popitem()

('empoly2', {'name': 'disha', 'id': '4565'})

In [46]:
employee_data

{'empoly1': {'name': 'awantika', 'id': '1234'}}

In [48]:
employee_data['empoly1'].popitem()

('id', '1234')

In [49]:
employee_data

{'empoly1': {'name': 'awantika'}}

In [50]:
# methods to see all the keys in a dictionary
employee_data.keys()

dict_keys(['empoly1'])

In [52]:
# methods to see all the values in a dictionary
employee_data = {'empoly1': 
                 {'name' : 'awantika', 'id' : '1234'},
                 'empoly2': 
                 {'name' : 'disha', 'id' : '4565'}
                }
employee_data.values()

dict_values([{'name': 'awantika', 'id': '1234'}, {'name': 'disha', 'id': '4565'}])

In [53]:
# methods to see all the items
employee_data.items()

dict_items([('empoly1', {'name': 'awantika', 'id': '1234'}), ('empoly2', {'name': 'disha', 'id': '4565'})])

In [ ]:
[(key,value),(key,value)]

In [ ]:
# fromkeys
create new dictionary with keys from iterable and value to set value parameter

In [54]:
a = ['awantika', 'shruti' , 'nikita']
data = dict.fromkeys(a,0)
print(data)

{'awantika': 0, 'shruti': 0, 'nikita': 0}

In [55]:
employee_data

{'empoly1': {'name': 'awantika', 'id': '1234'},
 'empoly2': {'name': 'disha', 'id': '4565'}}

In [57]:
employee_data.clear()

In [58]:
employee_data

{}

In [62]:
# dictionary comprehension
a = [1,2,3,4,5,6]
{i:i**2 for i in a}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}