In [5]:
# give all even numbers from 1 to 50

for i in range(2,51,2):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [9]:
a = ['messi','Ronaldo','taylor']
for i in a[0]:
     print(i)

m
e
s
s
i

In [ ]:
# while loop --> if we do not know the iteration.
# if we want to start/stop the loop on some condition.
# 1.) initialization
#  2.) condition checking
#3.) increment

In [10]:
i=0
while(i<10):
    print('afsan')
    i+=1

afsan
afsan
afsan
afsan
afsan
afsan
afsan
afsan
afsan
afsan

In [13]:
# print pattern 
data = 'python'
for i in a:
    for j in a:
        print(j)
        j+=1

messi

TypeError: can only concatenate str (not "int") to str

In [34]:
data = 7
#data = eval(input("enter string"))
for i in range(data):
        print('*'*(i+1))

*
**
***
****
*****
******
*******

In [35]:
#using while loop
data = 'python'
i=0
while i<6:
    print(data[i]*(i+1))
    i+=1

p
yy
ttt
hhhh
ooooo
nnnnnn

In [ ]:
break keyword--> this keyword is used to break out of the loop

In [37]:
for i in range(9):
    if i>3:
        break
    print(i)

0
1
2
3

In [4]:
i=0
while i<9:
    if i==3:
        break
    i+=1
    print(i)

1
2
3

In [6]:
for i in range(9):
    if i>3:
        break
    print(i)

0
1
2
3

In [9]:
# nested loops
for i in range(3):
    for j in range(2):
        print(j)

0
1
0
1
0
1

In [10]:
for i in range(3):
    for j in range(3):
        if i==0:
            break
    print(i,j)

0 0
1 2
2 2

In [28]:
names = ['awantika', 'shreya' , 'khushi', 'kritika','aarohi']
for i in names:
    if i[0] != 'a':
        print(i)

shreya
khushi
kritika

In [59]:
a = 'python'
for i in range(len(a)-1,-1,-1):
    print(a[i]*(i+1))

nnnnnn
ooooo
hhhh
ttt
yy
p