In [3]:
# type casting 

changing of one data type to another

In [6]:
# 1. way

a = 10 
print(a, float(a))
a

10 10.0

10

In [7]:
# 2 way

a = float(a)
print(a, float(a))
a

10.0 10.0

10.0

In [8]:
a = '100'   
int(a)    # typecasting into integer

100

In [9]:
b = 100.05
bool(b)  # typecasting into bool value

True

In [15]:
a = True
str(a)

'True'

 # input and output function

In [ ]:
input function will take input from the user

In [16]:
a = float(input("Enter the value"))
b = float(input("Enter the value"))
print(a+b)

Enter the value 10
Enter the value 20

30.0

In [19]:
# eval function - whatever value we are giving it will convert it into that data type(it convert data type dynamically)
a = eval(input("Enter the value"))
b = eval(input("Enter the value"))
print(type(a))
print(type(b))

Enter the value 'awantika'
Enter the value 10

<class 'str'>
<class 'int'>

In [20]:
# output function

a = 10
b = 20
print(a)
print(b)

10
20

In [23]:
a = 10
b = 20
print(a, end='')
print(b, end='')

1020

In [29]:
a = 10
b = 20
print(a,b,sep="-->")

10-->20

In [27]:
a = 200
b = 80
c = 10
d = a+b
print(a+b, c , sep='==' ,end='-->')
print(b,c , sep="**")
print(d,c+b,end="\n\n")
print(a,b,c ,sep="++",end="--")

280==10-->80**10
280 90

200++80++10--

In [37]:
# write a first name and last name by taking input.
firstName = input("Enter name")
lastName = input("Enter name")
print(firstName, lastName, end = ' ')

Enter name awantika
Enter name srivastava

awantika srivastava

In [39]:
#format strings

first_name = input("Enter first name")
second_name = input("Enter second name")
print(f"my first name is {first_name} and second name is {second_name} ")

Enter first name awantika
Enter second name srivastava

my first name is awantika and second name is srivastava

In [41]:
first_name = input("Enter first name")
second_name = input("Enter second name")
print("my first name is {} and second name is {} ".format(first_name,second_name))

Enter first name awantika
Enter second name srivastava

my first name is awantika and second name is srivastava

In [ ]:
# operations that are possible in float
- arithematic op
- comparison
- equality
- logical 
- identity op
- compound opt except bitwise

# op that are not possible
- bitwise op

# object reusability
not possible

In [43]:
# complex data type

a = 10+6j
print(type(a))
print(a.real)
print(a.imag)

<class 'complex'>
10.0
6.0

In [ ]:
# bool data type

True --> 1
False --> 0

In [45]:
a = True
print(type(a))

<class 'bool'>

In [46]:
# String data type
a = "python's"
print(a)

python's

In [47]:
b = 'python"s'
print(b)

python"s

In [50]:
c = '''Hello world'''
print(c)

Hello world

# Special Characters

In [51]:
a = "python\"s"
print(a)

python"s

In [53]:
b = "python\nlearn"
print(b)

python
learn

In [54]:
c = "python\\learn"
print(c)

python\learn

In [55]:
d = r"python\nlearn\fast"
print(d)

python\nlearn\fast

In [57]:
e = "python\blearb"
print(e)

pytholearb

In [59]:
f = ('ab'+'\bc'+'de')
print(f)

acde

In [60]:
# memory reusability

a = "python"
b = "cython"
print(id(a))
print(id(b))

1476355877184
1476363353856

In [62]:
print(id(a[0]))
print(id(b[0]))

140721103483568
140721103482944

In [63]:
print(id(a[1]))
print(id(b[1]))

140721103484000
140721103484000

In [65]:
a = "awantika"
print(id(a[0]))
print(id(a[1]))
print(id(a[2]))
print(id(a[3]))
print(id(a[4]))
print(id(a[5]))
print(id(a[6]))
print(id(a[7]))

140721103482848
140721103483904
140721103482848
140721103483472
140721103483760
140721103483232
140721103483328
140721103482848

In [66]:
a = "awantika"
b = " srivastava"
print(id(a))
print(id(b))

1476512661616
1476513590448

In [67]:
print(a+b)

awantika srivastava

In [68]:
print(id(a+b))

1476513926000

In [69]:
# indexing in string 

a = "python class"
print(a[6])

In [70]:
a[-6]

' '

In [71]:
a = 'awantika srivastava'   # memory reuasibilty is for single elements in a string but object reuasability is for whole string
b = 'awantika srivastava'
print(id(a))
print(id(b))

1476513867760
1476513865648

In [73]:
a = 'awantika'
b = 'awantika'
print(id(a))
print(id(b))

1476512661616
1476512661616

# Slicing

In [ ]:
# slicing :- We can extract more than one element(subseq from seq)

# string is a seq it allows indexing from left to right and right to left(+ve (L to R)and -ve(Rto L) indexing)

string is immutable

In [ ]:
# indexing 
acessing one element at a time.

In [1]:
s1 = 'python'
s1[-2]

'o'

In [ ]:
syntax --> [start_index : stop_index : step_size]

Default value 
syntax --> var[::]
start_index=0
stop_index=length of str
step = 1

In [2]:
s1[::]

'python'

In [3]:
s1[::2]

'pto'

In [5]:
s1 = 'python'
s1[-4:-7:-1]

'typ'

In [7]:
s1[-4:-len(s1)-1:-1]

'typ'

In [12]:
s2 = 'lionel#messi'
s2[:-6:-1]

'issem'

In [13]:
s2[::2]

'loe#es'

In [14]:
s2[:]

'lionel#messi'

In [15]:
s2[::-1]

'issem#lenoil'

In [16]:
s2[5::-1]

'lenoil'

In [ ]:
# repetition 

op --> *
operand --> one  should be str and one should be int

In [17]:
a = 'awantika'
b = 5
print(a*b)

awantikaawantikaawantikaawantikaawantika

In [ ]:
# memebership

tells if the subseq is present in a string or not
op - in and not in
bool - true or false

In [18]:
a = 'awantika is nice'
print('is' in a)

True

In [19]:
string is immutable because we cannot modified it.
 a = "python"
 a[0] = "w"

SyntaxError: invalid syntax (4118560150.py, line 1)