In [1]:
# statement for var in iterable if cond.
a =[1,6,7,8,10]
b = [i for i in a if i%2==0]  # using list comprehension
print(b)

[6, 8, 10]

# Tuple

In [ ]:
Tuple :- anything which is denoted by ()optional and seperated by ,

In [3]:
a = (1,2,3)
print(a , type(a))

(1, 2, 3) <class 'tuple'>

In [4]:
a = 1,2,3
print(a, type(a))

(1, 2, 3) <class 'tuple'>

In [5]:
# Creating a tuple
#1.) we already know the input 

tup1 = ('apple','mango','banana')
print(tup1)

('apple', 'mango', 'banana')

In [2]:
# 2.) Taking input 

data = eval(input('enter the data'))
print(data , type(data))

enter the data 1,2,3,4

(1, 2, 3, 4) <class 'tuple'>

In [6]:
a = (6,)
type(a)

tuple

In [7]:
# typecasting , tuple
a = 'awantika'
tuple(a)

('a', 'w', 'a', 'n', 't', 'i', 'k', 'a')

In [ ]:
# propertirs of tuple
1. seq data type
2. +ve and -ve indexing
3. allows duplicate elements
4. can contain any object
5. basic --> indexing , slicing ,concatenation, repetition, identity and membership.
6. immutable

In [9]:
a = (1,1.2,'awantika',[1,2,3],2+3j,1,0,0,1,1)
print(a)

(1, 1.2, 'awantika', [1, 2, 3], (2+3j), 1, 0, 0, 1, 1)

In [10]:
a[0]

1

In [11]:
a[3]

[1, 2, 3]

In [13]:
a[0:3:-2]

()

In [15]:
#concatenation
a = (1,2,3)
b= (4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [16]:
# repetition
a=(1,2,3)
b=20
print(a*20)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [17]:
a = [1,2,3]
a[0:2:-1]

[]

In [18]:
# identity op
a = (1,2,3,4)
b = (5,6,7,8)
print(a is b)

False

In [21]:
# memebership op 
a = (1,1.2,'awantika',[1,2,3],2+3j,1,0,0,1,1,True,None)
print('afsan' in a)

False

In [22]:
# immutable :- original object cannot be changed
a = (10,20,30)
a[0] = 100
print(a)

TypeError: 'tuple' object does not support item assignment

In [23]:
# methods in tuple
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [26]:
#count method
a = (1,2,1,2,3,4,5,4,4)
print(a.count(4))

3

In [27]:
a = (1,2,1,2,3,4,5,4,4)
print(a.index(4))

5

In [33]:
a = (1,True,None,[1,2,3],1.2,'awantika')
print(a.index(True))

0

In [45]:
a =( "learnbay is a institute of data science")
count=0
for i in range(len(a)):
    if a[i]=='t':
        count += 1
print(count)

4

In [54]:
a =( "learnbay is a institute of data science")
b = 0
count = 0
for i in range(len(a)):
    a = a[b:len(a)]
    d=a.find('t')
    b = d+1
    if d!=-1:
        count+=1
    else:
        break
    
    
print(count)

4

In [61]:
a = (1,2,3,4,5,4,4,4,4,6)
# how to check second occurence of 4?
count =0
for i in range(len(a)):
    if a[i]==4:
        count+=1
        if count ==2:
            print(i)

5

In [63]:
a = (1,2,3,4,5,4,4,4,4,6)
b = a.index(4)
c = a.index(4,b+1)
print(c)

5

In [75]:
a = (1,2,3,4,5,4,4,4,4,6)
index = 0
for i in a:
    if i == 4:
        print(index)
    index +=1

3
5
6
7
8

In [89]:
a = (1,2,3,4,5,4,4,4,4,6)
index = 0
data = []
for i in a:
    if i == 4:
        data.append(index)
    index += 1

In [90]:
data[1]

5

In [91]:
# tuple packing and unpacking
# tuple packing --> packing or assigning value to a single variable
a = (1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [97]:
a = (1)
print(a, type(a))

1 <class 'int'>

In [96]:
a = (1,)
print(a , type(a))

(1,) <class 'tuple'>

In [ ]:
# tuple unpacking 
--> fetching indiviual value from tuple

In [98]:
a,b,c,d,e = (1,2,3,4,5,6)
print(c)

ValueError: too many values to unpack (expected 5)

In [100]:
a,b,c,d,e,f= (1,2,3,4,5,6) # elements should be same on both the side LHS = RHS
print(c)

3

# dictionary

In [ ]:
in dictionary we used to create to have a key value pair

In [104]:
a = {'age': 25, 'sal': 25000,'name':'awantika'}
print(f'name is {a['name']}')
print(f'name is {a['age']}')
print(f'name is {a['sal']}')

name is awantika
name is 25
name is 25000

In [ ]:
# properties of dictionary
1.) Its a key-value pair
2.) A key ,value pair is call item
3.) sep by comma
4.) key and value are sep by :
5.) key cannot be duplicated whereas value can be duplicated
6.) key should not be mutable.
7.) value can be any data type
8.) all the items are enclosed in {} barces
9.) dic is not a seq data type and hence there is no slicing, concatenation, indexing, repetition.
10.) identity is applicable
11.)membership op is applicable
12.) mutable

In [105]:
#key is not duplicated value can be duplicated whereas value can be duplicated
a = {'name': 'afsan', 'sal': 25000,'name':'awantika'}
print(a)

{'name': 'awantika', 'sal': 25000}

In [106]:
#value can be duplicated
a = {'age': 25, 'sal': 25,'name':'awantika'}
print(a)

{'age': 25, 'sal': 25, 'name': 'awantika'}

In [110]:
# key should not be mutable
a = {'name': 'afsan', (1,2,3):2, 0:1}
print(a)

{'name': 'afsan', (1, 2, 3): 2, 0: 1}

In [111]:
# identity op is applicable
a = {'name': 'afsan', 'sal': 25000,'name':'awantika'}
b = {'name': 'afsan', 'sal': 25000,'name':'awantika'}
print(a is b)

False

In [115]:
# member op is applicable but only key
a = {'name': 'afsan', 'sal': 25000,'name':'awantika'}
'sal'in a

True